.services {
    margin-top: 1rem;
    width: 20%;
    height: auto;
    opacity: .8;
    border-radius: 10px;
    text-align: center;

}

.servicesLogo {
    width: 20%;
    margin: 0 auto;
    img {
        width: 100%;
    }
}

p {
    color: black;
    font-size: 1.2rem;
}