.card {
    margin: 2rem;
    display:  flex;
    justify-content: space-around;
    width: 100%;
    height: 20rem;
}

.card__img {
    width: 20%;
    overflow: hidden;
    img {
        margin: 0 auto;
        display: block;
        height: 100%;
    }
}

.card__description {
    width: 50%;
    p{
        font-size: 1.5rem;
        font-style: italic;
        opacity: .8;
    }
}

.card__example {
    width: 30%;
    overflow: hidden;

    img {
        display: block;
        height: 100%;

    }

    &:hover {
        scale: 3;
    }
}