.stage {
    position: relative;
    width: 25%;
    height: 25rem;

    overflow: hidden;
    border-radius: 2rem;
    background-color: rgb(97, 95, 81);
    box-shadow: 0.2rem 0.2rem 9.2rem 0.2rem rgb(0 0 0 / 73%);
    img {
        min-width: 100%;
        height: 80%;
    }
}

.stages__link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    border-radius: .6rem;
    background-color: rgb(3, 3, 3);
    box-shadow: 0.2rem 0.2rem 9.2rem 0.2rem rgb(0 0 0 / 73%);

    opacity: .8;
    color: rgb(180, 178, 178);
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
        color: white;
        cursor: pointer;
    }
}